<h1>Notes</h1>

<%= link_to 'New Note', new_note_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
      <th colspan='2'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.id %></td>
        <td><%= link_to note.name, note %></td>
        <td><%= note.body %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td>
          <%= button_to 'Delete', note, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>