<%= form_with url: notes_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back to notes', notes_path %>