<h1>Items</h1>

<%= link_to 'New Item', items_new_path %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Expected cost</th>
      <th>Is done?</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.title, item %></td>
        <td><%= item.expected_cost %></td>
        <td><%= item.is_done %></td>
      </tr>
    <% end %>
  </tbody>
</table>